# Dependencies
node_modules/
server/node_modules/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local

# Vercel Cache / Deployment Logs
.vercel/
server/.vercel/

# Large data files (already imported to Atlas)
server/assets/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System / IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db
